<div class="container">
  <div class="row">
  <% if @contribution.video.attached? %> <!-- videoを持っているかどうか -->
    <div class="col-md-6 pt-4 px-3 d-flex">
      <video src="<%= rails_blob_path(@contribution.video) %>" width="240px"  class= "bd-placeholder-img bd-placeholder-img-lg card-img rounded shadow-lg"  type="video/mp4" controls></video>
    </div>
    <div class="col-md-6 pt-4">
      <div class="item-information">
        <% @contribution.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>

        <h1><%= @contribution.title %></h1>

        <h1 class="mt-5"><%= @contribution.text %></h1>



      </div>
    </div>
  <% end %>
    <div>
      <% if @contribution.user_id == current_user.id %>
        <%= link_to "削除", "/contributions/#{@contribution.id}", method: :delete %>
      <% end %>



    <!-- いいね機能 -->
    <%# @contribution.each do |contribution| %>
      <% if @contribution.favorited_by?(current_user) %>
        <%= link_to contribution_favorite_path(@contribution), method: :delete do %>
          ♥<%= @contribution.favorites.count %> いいね
        <% end %>
      <% else %>
        <%= link_to contribution_favorites_path(@contribution), method: :post do %>
          ♡<%= @contribution.favorites.count %> いいね
        <% end %>
      <% end %>
    <%# end %>

    </div>
  </div>
</div>